<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="fonts/ttnorms/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">

    <title>ElectroCity</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="img/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Каталог
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Смартфоны</a>
                                    <a class="dropdown-item" href="#">Планшеты</a>
                                    <a class="dropdown-item" href="#">Ноутбуки</a>
                                    <a class="dropdown-item" href="#">Электронные часы</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('delivery') }}">Доставка</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('payment') }}">Оплата</a>
                            </li>
                        </ul>
                        <div class="menu-right d-flex">
                            <div class="menu-contact">
                                <a href="tel:+79692054963">
                                    <img src="img/phone.svg" alt="">
                                    <span>+7 (969) 205-49-63</span>
                                </a>
                            </div>
                            <div class="menu-user">
                                <button class="profile">
                                    <img src="img/person.svg" alt="">
                                </button>
                                <a href="" class=cart"">
                                    <img src="img/shopping-cart.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <section class="delivery-content">
            <div class="container">
                <div class="delivery-content-wrapper">
                    <h1>Доставка</h1>
                    <p>
                        Нашим покупателям мы предлагаем большой ассортимент электроники известных брендов
                        в интернет-магазине ElectroCity по отличным ценам.
                    </p>
                    <ul>
                        <li>Доставка по городу Санкт-Петербург осуществляется в пределах КАД только полностью оплаченных
                            заказов.</li>
                        <li>Выбранные товары должны быть в наличии в одном из магазинов города Санкт-Петербург.</li>
                        <li>Заявки на курьерскую доставку принимаются до 18:00 с доставкой на текущий день.</li>
                        <li>В стоимость тарифа на доставку груза включен подъем доставляемого товара на этаж, занос в
                            квартиру и пронос до указанного свободного места.</li>
                    </ul>

                    <h2>Интервалы доставки:</h2>

                    <ul>
                        <li>с 11.00 до 15.00</li>
                        <li>с 12.00 до 16.00</li>
                        <li>с 13.00 до 17.00</li>
                        <li>с 14.00 до 18.00</li>
                        <li>с 15.00 до 19.00</li>
                        <li>с 16.00 до 20.00</li>
                        <li>с 17.00 до 21.00</li>
                        <li>с 18.00 до 22.00</li>
                    </ul>

                    <h2>Стоимость доставки:</h2>

                    <ul>
                        <li>до 5 кг. - 540 руб.</li>
                        <li>от 5 до 10 кг. - 610 руб</li>
                        <li>от 10 до 25 кг. - 780 руб.</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

</body>

<body>
    <div class="wrapper">
        <footer>
            <div class="container">
                <div class="footer-wrapper">
                    <div class="footer-left">
                        <div class="phones">
                            <div class="phone-item">
                                <span>Бесплатный звонок по РФ</span>
                                <a href="tel:+79692054963">+7 (969) 205-49-63</a>
                            </div>
                        </div>
                        <div class="wort-time">
                            График работы с 8:00 до 20:00
                        </div>
                        <div class="wort-email">
                            <a href="mailto:electrocityofficial@yandex.ru">Email: electrocityofficial@yandex.ru</a>
                        </div>
                    </div>
                    <div class="footer-center">
                        <div class="social">
                            <a href="">Мы в Telegram</a>
                            <a href="">Мы в Discord</a>
                            <a href="">Мы в Instargram</a>
                        </div>
                    </div>
                </div>
                <div class="footer_bottom">
                    <span>©2022. ElectroCity</span>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>