<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ttnorms/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>ElectroCity</title>
</head>

<body>
<div class="wrapper">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Каталог
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Смартфоны</a>
                                <a class="dropdown-item" href="#">Планшеты</a>
                                <a class="dropdown-item" href="#">Ноутбуки</a>
                                <a class="dropdown-item" href="#">Электронные часы</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('delivery') }}">Доставка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('payment') }}">Оплата</a>
                        </li>
                    </ul>
                    <div class="menu-right d-flex">
                        <div class="menu-contact">
                            <a href="tel:+79692054963">
                                <img src="{{ url_for('static', filename='img/phone.svg') }}" alt="">
                                <span>+7 (969) 205-49-63</span>
                            </a>
                        </div>
                        <div class="menu-user">
                            <button class="profile">
                                <img src="{{ url_for('static', filename='img/person.svg') }}" alt="">
                            </button>
                            <a href="" class=cart"">
                                <img src="{{ url_for('static', filename='img/shopping-card.svg') }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section class="home-products">
        <div class="container">
            <h3 class="all_products">Все товары</h3>
            <div class="products-wrapper">
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Samsung_Galaxy_S22_Ultra.jpg') }}" alt="">
                    </div>
                    <a href="" class="title">Samsung Galaxy S22 Ultra</a>
                    <p class="description">Samsung Galaxy S22 Ultra получил 6,8-дюймовый AMOLED-дисплей, выполненный по
                        технологии LTPO с разрешением QHD+ и частотой обновления от 1 до 120 Гц. Объем ОЗУ составляет 12
                        ГБ, емкость накопителя 512 ГБ.
                        Внутри находится батарея на 5000 мА*ч. Мощность быстрой зарядки равна 45 Вт. У смартфона тыльная
                        камера на 108, 12, 10 и 10 Мп. Селфи-камера на 40 Мп. Работает смартфон под управлением Android
                        12 с фирменной оболочкой One UI 4.0.</p>
                    <div class="price">
                        <b>139 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Apple_iPhone_13_Pro_Max.jpg') }}" alt="">
                    </div>
                    <a href="" class="title">Apple iPhone 13 Pro Max</a>
                    <p class="description">Phone 13 Pro Max. Грандиозный апгрейд камер Pro. Режим «Киноэффект» делает из
                        видео настоящее кино. Дисплей Super Retina XDR с технологией ProMotion для более быстрого и
                        плавного взаимодействия. A15 Bionic — самый быстрый чип для iPhone. Прочный корпус и самое
                        долгое время работы без подзарядки среди iPhone.</p>
                    <div class="price">
                        <b>224 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Honor_50.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Honor 50</a>
                    <p class="description">В Honor 50 установлен 6,57-дюймовый дисплей OLED формата Full HD+ с частотой
                        обновления 120 Гц и встроенным сканером для распознавания отпечатков пальцев. На лицевой панели
                        осталась только одна камера – на 32 Мп. Сзади расположились модули разрешением 108 Мп, 8 Мп, 2
                        Мп и 2 Мп. Смартфон оснащается 6-нанометровым мобильным процессором Snapdragon 778G. Мощность
                        быстрой зарядки 66 Вт, ёмкость аккумулятора 4300 мА*ч. За 20 минут батарею можно с нуля
                        подзарядить до 70%.</p>
                    <div class="price">
                        <b>44 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Huawei_P50_Pro.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Huawei P50 Pro</a>
                    <p class="description">Huawei P50 Pro оснащен 6,6-дюймовым OLED-дисплеем с разрешением 2700 × 1228
                        точек и частотой обновления до 120 Гц. Установлен чип Snapdragon 888, искусственно лишённый
                        поддержки 5G. В тыльной части корпуса располагается четверная камера, созданная в партнёрстве с
                        Leica: она содержит датчики на 50, 40, 13 и 64 млн пикселей. Батарея ёмкостью 4360 мА·ч
                        поддерживает 66-ватную подзарядку SuperCharge.</p>
                    <div class="price">
                        <b>119 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Xiaomi_12X.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Xiaomi 12X</a>
                    <p class="description">Xiaomi 12X оборудован чипом Snapdragon 870 и 6,28-дюймовым дисплеем с
                        разрешением 2400 × 1080 точек. Селфи-камера оснащена 32-Мп датчиком, а тройная тыльная камера
                        состоит из сенсоров на 50, 13 и 5 млн пикселей. Батарея ёмкостью 4500 мА·ч поддерживает 67-Вт
                        проводную зарядку.</p>
                    <div class="price">
                        <b>79 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/TCL_10_TAB_MAX.webp') }}" alt="">
                    </div>
                    <a href="" class="title">TCL 10 TAB MAX</a>
                    <p class="description">
                        Планшет TCL 10 TAB MAX легко справится с требуемыми задачами за счет большой емкости батареи,
                        отличной разрешающей способности экрана, а также мощного процессора.</p>
                    <div class="price">
                        <b>20 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Dexp_Ursus_EX111.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Dexp Ursus EX111</a>
                    <p class="description">Стильный и функциональный планшет Dexp Ursus EX111 с диагональю экрана 11.6ʺ
                        и предустановленной ОС Android 10.x позволит выполнять несложные рабочие задачи, читать,
                        смотреть видео или учиться. Тонкий и прочный корпус из черного пластика придает планшету деловой
                        внешний вид. 8-ядерный процессор Spreadtrum SC9863A поддерживает быструю и слаженную работу всех
                        составляющих планшета, что обеспечивает его высокую производительность. А 4 ГБ оперативной
                        памяти позволяют легко и быстро открывать нужные файлы или переключаться между вкладками
                        браузера.</p>
                    <div class="price">
                        <b>15 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Huawei_MatePad_Pro.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Huawei MatePad Pro</a>
                    <p class="description">Планшет Huawei MatePad Pro оснащен OLED-экраном FullView 12,6 дюйм1 с
                        полезной площадью 90% , который обеспечивает четкость изображения и насыщенность оттенков. Дайте
                        волю воображению, редактируйте текст или фотографии и делайте зарисовки на большом экране.
                        Процессор Kirin 9000E выполнен по 5-нм техпроцессу и объединяет 15 миллиардов транзисторов,
                        обеспечивая компактность и высокую скорость обработки данных.</p>
                    <div class="price">
                        <b>69 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Lenovo_Yoga_Tab_13.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Lenovo Yoga Tab 13</a>
                    <p class="description">Расширьте мультимедийные возможности с планшетом Lenovo Yoga Tab 13.
                        Погружайтесь в удивительные миры на дисплее 2К с технологией Dolby Vision и окружайте себя
                        кинематографическим звуком Dolby Atmos благодаря четырем динамикам JBL, дополненным
                        аудиосистемой Lenovo Premium Audio. Играйте в свое удовольствие благодаря графическому
                        процессору Qualcomm Adreno 650, созданному специально для такого рода нагрузок.</p>
                    <div class="price">
                        <b>55 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Samsung_Galaxy_Tab_S7.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Samsung Galaxy Tab S7+</a>
                    <p class="description">Планшет Samsung Galaxy Tab S7+ позволит вам продуктивно работать и
                        увлекательно проводить досуг. Аппаратная платформа с процессором Qualcomm Snapdragon 865 Plus и
                        6 ГБ ОЗУ обеспечивает быстродействие системы при выполнении как простых, так и ресурсоемких
                        задач. Под хранение данных пользователя выделено 128 ГБ памяти. Где бы вы ни находились, планшет
                        способен обеспечить доступ в сеть Интернет благодаря поддержке стандартов 3G/4G и Wi-Fi. Также
                        реализованы Bluetooth и порт USB Type-C.</p>
                    <div class="price">
                        <b>85 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Apple_MacBook_Pro.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Apple MacBook Pro</a>
                    <p class="description">Супербыстрые чипы M1 Pro и M1 Max дают феноменальную производительность и
                        обеспечивают удивительно долгое время работы без подзарядки. Прибавьте к этому потрясающий
                        дисплей Liquid Retina XDR и ещё больше портов для профессиональной работы. Это тот самый
                        ноутбук, который вы так ждали.</p>
                    <div class="price">
                        <b>414 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Acer_Nitro_5_AN515-45-R4BX.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Acer Nitro 5 AN515-45-R4BX</a>
                    <p class="description">Этот игровой ноутбук создан для тех, кто хочет получить надежное и
                        производительное компьютерное устройство с наиболее востребованным функционалом. Данная модель
                        полностью удовлетворяет данные требования. Надежный накопитель предоставляет вам возможности для
                        долговременного хранения необходимой виртуальной информации. Устройство оборудовано веб-камерой
                        и микрофоном, благодаря которым вы сможете организовывать видеоконференции с партнерами по играм
                        и коллегами по работе.</p>
                    <div class="price">
                        <b>224 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/ASUS_ROG_Flow_X13_GV301QH-K5228T.webp') }}" alt="">
                    </div>
                    <a href="" class="title">ASUS ROG Flow X13 GV301QH-K5228T</a>
                    <p class="description">Ноутбук ASUS ROG Flow X13 GV301QH-K5228T незаменим для организации рабочего
                        пространства как дома, так и в офисе. Возникла необходимость напечатать различные документы? Или
                        отредактировать материалы в ресурсоемком приложении? Для этого устройства нет ничего
                        невозможного, ведь оно оснащено 8-ядерным процессором AMD Ryzen 9.</p>
                    <div class="price">
                        <b>314 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Lenovo_Yoga_Slim_9_14ITL5.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Lenovo Yoga Slim 9 14ITL5</a>
                    <p class="description">Ноутбук Lenovo Yoga Slim 9 14ITL5 создан для мобильной работы и выделяется
                        изысканным дизайном. Он выполнен в алюминиевом корпусе и характеризуется отделкой из кожи на
                        крышке. Сочетание процессора Intel Core i7 1165G7, графического адаптера Intel Iris Xe Graphics
                        и 16 ГБ памяти ОЗУ гарантирует высокий уровень производительности. Также в конфигурацию данной
                        модели входят накопитель SSD емкостью 2000 ГБ со скоростным интерфейсом M.2 PCIe и
                        предустановленная ОС Windows 10 Home.</p>
                    <div class="price">
                        <b>228 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Dell_XPS_9310-1519.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Dell XPS 9310-1519</a>
                    <p class="description">Этот ноутбук создан для тех, кто хочет получить хорошее производительное
                        компьютерное устройство с наиболее востребованным функционалом. Данная модель полностью
                        удовлетворяет данные требования. Надежный накопитель предоставляет вам возможности для
                        долговременного хранения необходимой виртуальной информации. Устройство оборудовано веб-камерой
                        и микрофоном, благодаря которым вы сможете организовывать видеоконференции с партнерами по
                        бизнесу и коллегами по работе.</p>
                    <div class="price">
                        <b>179 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Apple_Watch_Series_7.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Apple Watch Series 7</a>
                    <p class="description">Благодаря большому и продвинутому всегда включенному дисплею Retina
                        пользоваться Apple Watch Series 7 невероятно удобно. Их сверхпрочное фронтальное стекло еще
                        лучше защищено от трещин. Передовые функции позволяют измерять уровень кислорода в крови и
                        делать ЭКГ в любой момент. Следите за режимом сна и практикуйте осознанность с помощью
                        специальных приложений. И отслеживайте показатели по десяткам тренировок, включая пилатес и
                        тайцзицюань.</p>
                    <div class="price">
                        <b>46 499 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Amazfit_T-Rex_Pro.webp') }}" alt="">
                    </div>
                    <a href="" class="title">Amazfit T-Rex Pro</a>
                    <p class="description">Amazfit T-Rex Pro - высокоуровневые исследовательские фитнес часы,
                        поддерживающие четыре глобальные навигационные спутниковые системы, водонепроницаемость 10 атм,
                        систему измерения насыщения крови кислородом, метеотрекер, монитор восхода и захода солнца,
                        отображение текущей фазы луны, компас и барометрический высотомер, сверхдлительное 18-дневное
                        время автономной работы при обычном использовании и более 100 различных спортивных режимов.</p>
                    <div class="price">
                        <b>16 499 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/HUAWEI_WATCH_3_Pro.webp') }}" alt="">
                    </div>
                    <a href="" class="title">HUAWEI WATCH 3 Pro</a>
                    <p class="description">Смарт-часы в классическом стиле выглядят изысканно и элегантно. Оцените
                        большой и яркий AMOLED-экран 1,43 дюйма. Управляйте HUAWEI WATCH 3 Pro с помощью чувствительного
                        сенсорного экрана, боковой кнопки и поворотной кнопки.</p>
                    <div class="price">
                        <b>35 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/Samsung_Galaxy_Watch4_Classic_LTE.webp') }}"
                             alt="">
                    </div>
                    <a href="" class="title">Samsung Galaxy Watch4 Classic LTE</a>
                    <p class="description">Устройство, которое знает вас лучше всех. Чтобы стать лучше - нужно познать
                        себя. Galaxy Watch4 Classic станут отличным спутником на пути к самосовершенствованию. Некоторые
                        элементы неподвластны времени, например, вращающийся безель и яркий экран Galaxy Watch4 Classic.
                        Утончённый дизайн придаст изысканности вашему запястью, а высококачественный корпус из
                        нержавеющей стали подчеркнёт прочность и широкий функционал.</p>
                    <div class="price">
                        <b>33 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
                <div class="product">
                    <div class="img">
                        <img src="{{ url_for('static', filename='img/HONOR_Magic_Watch_2.webp') }}" alt="">
                    </div>
                    <a href="" class="title">HONOR Magic Watch 2</a>
                    <p class="description">Смарт-часы HONOR Magic Watch 2 42 mm обладают эффектным дизайном и золотистой
                        расцветкой. Представленная модель станет не только привлекающим внимание аксессуаром, но и
                        надежным помощником в поддержании здорового образа жизни. И корпус, и ремешок устройства
                        изготовлены из нержавеющей стали, что указывает на их колоссальную прочность.</p>
                    <div class="price">
                        <b>11 999 руб.</b>
                    </div>
                    <a href="{{ url_for('card') }}" class="to-cart">В корзину</a>
                </div>
            </div>
        </div>
    </section>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>

<body>
<div class="wrapper">
    <footer>
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-left">
                    <div class="phones">
                        <div class="phone-item">
                            <span>Бесплатный звонок по РФ</span>
                            <a href="tel:+79692054963">+7 (969) 205-49-63</a>
                        </div>
                    </div>
                    <div class="wort-time">
                        График работы с 8:00 до 20:00
                    </div>
                    <div class="wort-email">
                        <a href="mailto:electrocityofficial@yandex.ru">Email: electrocityofficial@yandex.ru</a>
                    </div>
                </div>
                <div class="footer-center">
                    <div class="social">
                        <a href="">Мы в Telegram</a>
                        <a href="">Мы в Discord</a>
                        <a href="">Мы в Instargram</a>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <span>©2022. ElectroCity</span>
            </div>
        </div>
    </footer>
</div>


</body>


</html>