<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="fonts/ttnorms/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">

    <title>ElectroCity</title>
</head>

<body>
<div class="wrapper">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Каталог
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Смартфоны</a>
                                <a class="dropdown-item" href="#">Планшеты</a>
                                <a class="dropdown-item" href="#">Ноутбуки</a>
                                <a class="dropdown-item" href="#">Электронные часы</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('delivery') }}">Доставка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('payment') }}">Оплата</a>
                        </li>
                    </ul>
                    <div class="menu-right d-flex">
                        <div class="menu-contact">
                            <a href="tel:+79692054963">
                                <img src="img/phone.svg" alt="">
                                <span>+7 (969) 205-49-63</span>
                            </a>
                        </div>
                        <div class="menu-user">
                            <button class="profile">
                                <img src="img/person.svg" alt="">
                            </button>
                            <a href="" class=cart"">
                                <img src="img/shopping-cart.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="payment-content">
        <div class="container">
            <div class="payment-content-wrapper">
                <h1>Оплата</h1>
                <p>
                    Оплатить покупку в интернет-магазине ElectroCity можно несколькими способами:
                </p>
                <ul>
                    <li>
                        <h2>Наличный расчёт</h2>
                        <p>Вы можете оплатить покупку наличными в магазине или курьеру (при доставке товара - доступно
                            не во всех городах).</p>
                    </li>
                    <li>
                        <h2>Пластиковые карты</h2>
                        <p>Безналичная оплата банковской картой в магазине и при доставке. Принимаются карты следующих
                            платёжных систем:
                            «VISA», «MasterCard», «Золотая Корона», «МИР».</p>
                    </li>
                    <li>
                        <h2>Кредит</h2>
                        <p>Заявку на кредит можно оформить в магазине у кредитного эксперта одного из банков-партнеров.
                            В разделе «Кредиты» Вы можете найти информацию о банках-партнёрах и их продуктах.</p>
                    </li>
                    <li>
                        <h2>Безналичный расчет</h2>
                        <p>Доступен для юридических лиц (ООО, ЧП, ИП и т.п.). Подробности в разделе «Заказ товара для
                            юридических лиц»</p>
                    </li>
                    <li>
                        <h2>Онлайн-оплата на сайте</h2>
                        <p>Оплата осуществляется через компанию-партнера - ЮKassa. Комиссия не взимается. К оплате
                            принимаются кошельки WebMoney, банковские карты, QIWI-кошельки и кошельки ЮMoney. </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>

<body>
<div class="wrapper">
    <footer>
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-left">
                    <div class="phones">
                        <div class="phone-item">
                            <span>Бесплатный звонок по РФ</span>
                            <a href="tel:+79692054963">+7 (969) 205-49-63</a>
                        </div>
                    </div>
                    <div class="wort-time">
                        График работы с 8:00 до 20:00
                    </div>
                    <div class="wort-email">
                        <a href="mailto:electrocityofficial@yandex.ru">Email: electrocityofficial@yandex.ru</a>
                    </div>
                </div>
                <div class="footer-center">
                    <div class="social">
                        <a href="">Мы в Telegram</a>
                        <a href="">Мы в Discord</a>
                        <a href="">Мы в Instargram</a>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <span>©2022. ElectroCity</span>
            </div>
        </div>
    </footer>
</div>
</body>

</html>